{% extends 'base.html.twig' %}

{% block title %}Mon Profil | Handi'Loc
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5 mb-5">Mon profil</h1>
	<p>Prénom :
		{{ customer.firstName }}</p>
	<p>Nom :
		{{ customer.lastName }}</p>
	<p>Nom :
		{{ customer.disabilityCard }}</p>
{% endblock %}
