{% extends 'base.html.twig' %}

{% block classBody %}indexBackground{% endblock %}

{% block body %}
	<div class="title-home">
		<h1 class"text-center">
			Louez un handicapé à moteur
		</h1>
		<h2>Disponible 24h/24 et 7j/7, Handi'Loc vous accompagne à chaque instant</h2>
	</div>
{% endblock %}
