{% extends 'base.html.twig' %}

{% block classBody %}indexBackground
{% endblock %}

{% block body %}
	<div class="title-home">
		<h1 class"text-center">
			Empruntez un véhicule TPMR
		</h1>
		<h2>Disponible 24h/24 et 7j/7, Handi'Loc vous accompagne à chaque instant</h2>
	</div>
	<div class="center-login-home-button">
		{% if is_granted('ROLE_CUSTOMER') %}
			{% else %}
				<a href="{{ path('app_vehicle_index') }}" class="home-login btn btn-light fixed-bottom mb-5">Connexion</a>
		{% endif %}
	</div>
{% endblock %}
