{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur
{% endblock %}

{% block body %}
	<main class="mainSection mb-5">
		<div class="mainForm">
			<h3 class="mt-4">Modifier l'utilisateur</h3>
			{{ include('customer/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
		</div>
	</main>
{% endblock %}
