{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur | Handi'Loc
{% endblock %}

{% block body %}
	<main class="mainSection mb-5">
		<div class="mainForm">
			<h3 class="mt-4">Ajouter un utilisateur</h3>
			{{ include('customer/_form.html.twig') }}
		</div>
	</main>
{% endblock %}
