{% extends 'base.html.twig' %}

{% block title %}Connexion | Handi'Loc{% endblock %}

{% block body %}
	{% if error %}
		<div class="text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<div class="bloc-container container d-flex justify-content-center">
		<div class="row p-2 bg-secondary rounded col-xl-4 col-lg-6 col-sm-8">
			<form class="d-flex justify-content-center flex-column rounded text-center col-xs-12 col-sm-10 col-lg-6 col-xl-8 m-auto" action="{{ path('app_login') }}" method="post">
				<label class="" for="username">Email</label>
				<input class="mt-2 mb-2" type="text" id="username" name="_username" value="{{ last_username }}">
				<label class="" for="password">Mot de passe</label>
				<input class="mt-2" type="password" id="password" name="_password">
                <input type="hidden" name="_target_path" value="{{ path('app_home') }}">
				<div>
					<button class="mt-3" type="submit">Connexion</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
