.mainForm {
    width: 90%;
    max-width: 800px;
}

.mainSection {
    display: flex;
    justify-content: center;

    a {
        color: red;

        &:hover {
            color: red;
            cursor: pointer;
        }
    }
}

.form-label {
    margin-top: 15px;
    margin-bottom: 4px;
}

.button-save {
    width: 200px;
    margin-top: 40px;
}