.indexBackground {
    background-image: url("../images/home-background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.home-login {
    width: 240px;
    margin: 0 auto;
    font-size: 25px;
    border-radius: 0px;
    color: #474747;
}