.logo-handi {
    height: 45px;
    width: 45px;
}

.logo-metropole {
    height: 30px;
    margin-left: 20px;
    margin-right: 15px;
}

.logo-profil {
    width: 45px;
}

a.navbar-brand {
    font: 300 30px Lato;
    color: rgb(55, 55, 55);
}

.navbar-toggler:focus {
    box-shadow: none !important;
    border: 1px solid black;
}

button.navbar-toggler.collapsed {
    border: 1px solid black;
}

button.navbar-toggler {
    border: 1px solid black;
}