<form method="post" action="{{ path('app_vehicle_delete', {'id': vehicle.id}) }}" onsubmit="return confirm('Suppression du Véhicule ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicle.id) }}">
	<button class="btn p-0"><img class="d-flex flex-end mx-1" src="{{ asset('build/images/trash.png') }}" alt="" width="35" heigh="35"></button>
</form>
