{{ form_start(form, {'attr': {'class': 'd-flex flex-column'}}) }}
{{ form_widget(form) }}
<div class="d-flex justify-content-center">
	<button class="button-save btn btn-success">{{ button_label|default('Sauvergarder') }}</button>
</div>
{{ form_end(form) }}
